# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Daniel Giao\OneDrive - polymtl.ca\Documents\GitHub\2021h-ch6-1-exercices-danielgiaoo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
